  <h1> "Sign Up" </h1>
  <%= form_for(resource ,as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<table>
    <tr>
      <div class="form-group">
      <td><label for="First_Name">First Name</label></td>
      <td><input type="fname" class="form-control" id="fname" placeholder="First Name">
    </div> </td>
    </tr>

    <tr>
      <div class="form-group">
      <td><label for="Last_Name">Last Name</label></td>
      <td><input type="lname" class="form-control" id="lname" placeholder="Last Name">
    </div> </td>
    </tr>

    <tr>
      <div class="form-group">
      <td><label for="User_Name">User Name</label></td>
      <td><input type="name" class="form-control" id="name" placeholder="User Name">
    </div> </td>
    </tr>

    <tr>
      <div class="form-group">
      <td><label for="Email">Email address</label> </td>
      <td><input type="email" class="form-control" id="email" placeholder="Email">
    </div></td>
    </tr>

    <tr>
      <div class="form-group">
      <td><label for="Password">Password</label></td>
      <td><input type="password" class="form-control" autocomplete: "off" id="password" placeholder="Password"></td>
    </div>
    </tr>
    <% if @validatable %>
    <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
    <% end %>

    <tr>
      <div class="form-group">
      <td><label for="Password_Confirmation">Password</label></td>
      <td><input type="password_confirmation" class="form-control" id="password_confirmation" autocomplete: "off" placeholder="Password Confirmation"></td>
    </div>
    </tr>

    <tr>
      <div class="form-group">
        <td><label for="Gender">Gender</label></td>
    <td><label>
      <input type="radio" name="gender" id="gender" value="female" 
      checked>
      Female
    </label>
    <label>
      <input type="radio" name="gender" id="gender" value="female">Male
    </label> </td>
    </div>
    </tr>

    <tr>
      <td><label for="Birth_Date">Birth Date</label></td>
      <td><%= f.date_select :birthday, :order => [:day, :month, :year], :prompt => [day: 'Select day', month: 'Select month', year: 'Select year'], :end_year => Time.now.year - 50 , :start_year => Time.now.year -%></td>
    </tr>

    <tr>
      <div class="form-group">
      <td ><label for="City">City</label></td>
      <td><input type="city" class="form-control" id="city" placeholder="City"></td>
    </div>
    </tr>

    <tr>
      <div class="form-group">
      <td ><label for="Country">Country</label></td>
      <td><input type="country" class="form-control" id="country" placeholder="Country"></td>
    </div>
    </tr>

    <tr>
      <div class="form-group">
      <td ><label for="Favourite_Color">City</label></td>
      <td><input type="fav_color" class="form-control" id="fav_color" placeholder="Favourite Color"></td>
    </div>
    </tr>

    <tr>
      <div class="form-group">
      <td><label for="Upload_pic">Upload_pic</label></td>
      <td><input type="file" id="photo"></td>
      </div>
    </tr>
</table>
<br/>
  
<button type="submit" class="btn btn-default">Submit</button>
  <% end %>

  <%= render "devise/shared/links" %>