<%= div_for comment do %>
<style>
body {background-color: lightgrey;}
</style>
posted by, <font color="purple"><%= comment.user.email %> </font> 
<h3>
	<p>
		<%= comment.body %>
	</p>
</h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color="grey"> <%= time_ago_in_words(comment.created_at) %> ago </font>
<br/>
<% if user_signed_in? %>
<% if current_user.id == comment.user_id %> 
<%= link_to 'Edit', edit_category_post_comment_path(@post, comment) %> | 
<%= link_to "Remove", [@post.category,@post,comment], method: :delete, data: { confirm: "Are you sure?"}%>
<% end %>
<% end %>
<% end %>

