<%- model_class = Comment -%>
<div class="panel panel-info">
  <div class="panel-heading" ><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Comment_id) %></th>
      <th><%= model_class.human_attribute_name(:User_name) %></th>
      <th><%= model_class.human_attribute_name(:post_id) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.id, comment_path(comment) %></td>
        <td><%= comment.name %></td>
        <td><%= comment.post.title %></td>
        <td><%= comment.body %></td>
        <td><%=l comment.created_at %></td>
        <% if user_signed_in? %>
        <td>
          <%= link_to edit_comment_path(comment), :title => 'Edit', :rel => 'tooltip', class: "btn btn-info btn-xs" do %>
              <span class="glyphicon glyphicon-edit"></span>  
          <% end %>
          <%= link_to comment_path(comment), :title => 'Delete', :rel => 'tooltip', method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-xs btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to root_path, :title => 'Back', :rel => 'tooltip', class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-step-backward"></span>
<% end %>
<% if user_signed_in? %> 
<%= link_to new_comment_path, :title => 'New Comment', :rel => 'tooltip', class: "btn btn-info" do %>
    <span class="glyphicon glyphicon-new-window"></span> 
<% end %>
<%end%>

<ul class="pagination">
  <li><%=link_to '1',Category%></li>
  <li><%=link_to '2',Post%></li>
  <li><%=link_to '3',Comment%></li>
  <li><%=link_to '4',Tag%></li>
  
</ul>