<%- model_class = Comment -%>
<div class="panel panel-info">
  <div class="panel-heading" ><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:User_name) %>:</strong></dt>
  <dd><%= @comment.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:post_title) %>:</strong></dt>
  <dd><%= @comment.post.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Comment_body) %>:</strong></dt>
  <dd><%= @comment.body %></dd>
  <dt><strong><%#= model_class.human_attribute_name(:user_id) %></strong></dt>
  <dd><%#= @comment.user_id %></dd>
  <dt><strong><%#= model_class.human_attribute_name(:permalink) %></strong></dt>
  <dd><%#= @comment.permalink %></dd>
</dl>
<br/>
<%= link_to comments_path, :title => 'Back', :rel => 'tooltip', class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-step-backward"></span>
<% end %>
<%= link_to edit_comment_path(@comment), :title => 'Edit', :rel => 'tooltip', class: "btn btn-info" do %>
              <span class="glyphicon glyphicon-edit"></span>  
          <% end %>
<%= link_to comment_path(@comment), :title => 'Delete', :rel => 'tooltip', method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
