<p id="notice"><%= notice %></p>
<style>h2 {font-family: URW chancery L;
    	font-size: 60px;}</style>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
<body>
<!-- Jumbotron -->  
<div class="jumbotron">
<h2> Life in Bloom </h2>
<p font-size: "5px;"><i>...JOURNEY OF FAITHFUL LIVING IN A COMPLEX WORLD</i></p>
<button data-toggle="popover" title="Life" data-content="It's Just awesome!">PopOver</button>
<script>
$(document).ready(function(){
   $("#mybtn").click(function(){
       swal("Here's a message!")
           });
});

</script>
<button data-toggle="sweetalert" id="mybtn">Sweetalert</button>
<button data-toggle="collapse" data-target="#demo">Collapse</button>
<div id="demo" class="collapse">
Happiness held is the seed; Happiness shared is the flower.....

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hello</h4>
      </div>
      <div class="modal-body">
        <p>Welcome to the Blog</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- Navigation -->
<div id="nav">
  <b><%= link_to 'Demo', home_demo_path %></b> <br/>
<b><%= link_to 'Lets_Blog', home_blogger_path %></b> <br/>

<b><%= link_to 'Categories' ,Category %></b> <br/>
<b><%= link_to 'Posts' ,Post %></b> <br/>

<b><%= link_to 'Comments', Comment %></b> <br/>
<b><%= link_to 'Tags' ,Tag %> </b>
</div>
<!-- Section -->
<div id="section">
</div>
</body>
<div id="footer">
<i>Blog by Ranjana</i>
</div>


  
  