<p id="notice"><%= notice %></p>
<style>
    body {background-color: black;}
    h2 {font-family: URW chancery L;
    	font-size: 60px;}
    p {font-size: 5px;}
</style>
<body>
<div class="jumbotron">
<h2> Life in Bloom </h2>
<p><i>...JOURNEY OF FAITHFUL LIVING IN A COMPLEX WORLD</i></p>
<a class = "btn btn-primary btn-sm" role = "button" >Learn more</a>
</div>
<div id="nav">

<b><%= link_to 'Categories', Category %></b> <br/>

<b><%= link_to 'Posts' ,Post %></b> <br/>

<b><%= link_to 'Comments', Comment %></b> <br/>
<b><%= link_to 'Tags' ,Tag %> </b>

</div>
<div id="section" >

<p1>This Blog allows you to post as well as comment on different Categories applying tags...</p1>
</div>
</body>
<div id="footer">
<i>Blog by Ranjana</i>
</div>

