<p id="notice"><%= notice %></p>
<div id="header">
<br/>
<h1> Life in Bloom </h1>
<br/>
<p><i>...JOURNEY OF FAITHFUL LIVING IN A COMPLEX WORLD</i></p>
</div>
<div id="nav">
<b><%= link_to 'Categories', Category %></b> <br/>

<b><%= link_to 'Posts' ,Post %></b> <br/>

<b><%= link_to 'Comments', Comment %></b> <br/>
<b><%= link_to 'Tags' ,Tag %> </b>

</div>
<div id="section" >

<p>This Blog allows you to post as well as comment on different Categories applying tags...</p>
</div>

<div id="footer">
<i>Blog by Ranjana</i>
</div>

