<p id="notice"><%= notice %></p>
<style>
    body {background-color: black;}
    h2 {font-family: URW chancery L;
    	font-size: 60px;}
    p {font-size: 5px;}
</style>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
<body>
<div class="jumbotron">
<h2> Life in Bloom </h2>
<p><i>...JOURNEY OF FAITHFUL LIVING IN A COMPLEX WORLD</i></p>
<button data-toggle="popover" title="Hey" data-content="Hello World">PopOver</button>
<button data-toggle="collapse" data-target="#demo">Collapse</button>
<div id="demo" class="collapse">
Happiness held is the seed; Happiness shared is the flower.....
</div>

</div>
<div id="nav">
<b><%= link_to 'Lets_Blog', Category %></b> <br/>

<b><%#= link_to 'Categories' ,Category %></b> <br/>
<b><%#= link_to 'Posts' ,Post %></b> <br/>

<b><%#= link_to 'Comments', Comment %></b> <br/>
<b><%#= link_to 'Tags' ,Tag %> </b>

</div>
<div id="section">

<div id="myCarousel" class="carousel slide" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="item active">
      <%= image_tag "pic1.jpg", class: "tales" %>
    </div>

    <div class="item">
       <%= image_tag "pic2.jpg", class: "tales" %>
    </div>

    <div class="item">
       <%= image_tag "pic3.jpg", class: "tales" %>
    </div>

    <div class="item">
       <%= image_tag "pic4.jpg", class: "tales" %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</body>
<div id="footer">
<i>Blog by Ranjana</i>
</div>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">This is a Blog</h4>
      </div>
      <div class="modal-body">
        <p>Hello.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<ol class="breadcrumb">
    <li><%= link_to 'Categories',Category%></li>
    <li><%= link_to 'Posts',Post%></li>
    <li><%= link_to 'Comments',Comment%></li>
    <li><%= link_to 'Tags',Tag%></li>       
  </ol>

  
  