<%- model_class = Tag -%>
<div class="panel panel-info">
  <div class="panel-heading" ><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @tag.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:permalink) %>:</strong></dt>
  <dd><%= @tag.permalink %></dd>
</dl>

<%= link_to tags_path,:title => 'Back', :rel => 'tooltip', class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-step-backward"></span> 
<% end %>
<%= link_to edit_tag_path(@tag),:title => 'Edit', :rel => 'tooltip', class: "btn btn-info" do %>
<span class="glyphicon glyphicon-edit"></span>  
<% end %>
<%= link_to tag_path(@tag),:title => 'Delete', :rel => 'tooltip', method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span> 
          <% end %>

