<%- model_class = Post -%>
<div class="panel panel-info">
  <div class="panel-heading" ><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Category_name) %>:</strong></dt>
  <dd><%= @post.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:User_email) %>:</strong></dt>
  <dd><%= @post.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Post_title) %>:</strong></dt>
  <dd><%= @post.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Post_body) %>:</strong></dt>
  <dd><%= @post.body %></dd>
</dl>
<%= link_to posts_path, :title => 'Back', :rel => 'tooltip', class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-step-backward"></span>  
<% end %>
  <% if user_signed_in? %>
<% if current_user.id == @post.user_id %>
<%= link_to edit_post_path(@post), :title => 'Edit', :rel => 'tooltip', class: "btn btn-info" do %>
              <span class="glyphicon glyphicon-edit"></span>  
          <% end %>
<%= link_to post_path(@post), :title => 'Delete', :rel => 'tooltip', method: :delete, data: { confirm: 'Are you sure?'}, remote: true, class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
<% end %>
<% end %>
<%if user_signed_in? %>
<h2> Comments </h2>
<%= render :partial => @post.comments %>
No. of Comments: <%= @post.comments.count %>

<!--New Comment Form -->
<h4> Leave a Comment! </h4>
<%= form_for ([@post.category, @post, @post.comments.build]) do |f| %>
<div class="field">
<%= f.label :User_Name %><br/>
<%= f.text_field :name, :value => current_user.name %>
</div> 
<div class="field">
<%= f.label :body %><br/>
<%= f.text_area :body %>
</div> 

<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<p> <%= f.submit nil, :title => 'Save', :rel => 'tooltip', :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-disk-saved"></span>   
          <% end %> </p>
<% end %>
<%else%>
<h2> Comments </h2>
<%= render :partial => @post.comments %>
No. of Comments: <%= @post.comments.count %>
<%end%>
