<%- model_class = Category -%>
<div class="panel panel-info">
	<div class="panel-heading" ><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>
</div>

<dl class="dl-horizontal">
	<dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
	<dd><%= @category.name %></dd>
</dl>

<%= link_to categories_path, :title => 'Back', :rel => 'tooltip', class: "btn btn-default" do %>
<span class="glyphicon glyphicon-step-backward"></span>
<% end %>
<% if user_signed_in? %>              
<%= link_to edit_category_path(@category), :title => 'Edit', :rel => 'tooltip', class: "btn btn-info" do %>
<span class="glyphicon glyphicon-edit"></span>  
<% end %>

<%= link_to category_path(@category), :title => 'Delete', :rel => 'tooltip', method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-danger" do %>
<span class="glyphicon glyphicon-trash"></span>
<% end %>
<% end %>              
<br/>
<br/>
<%= render :partial => @category.posts %> 
<br/>
No. of Posts: <%= @category.posts.count %>
<% if user_signed_in? %>
<h4> Leave a Post! </h4>
<!--New Post Form -->
<%= link_to new_category_post_path(@category), :title => 'New Post', :rel => 'tooltip', class: "btn btn-primary" do %>
<span class="glyphicon glyphicon-new-window"></span> Add Post
<% end %>
<% end%>